@use '../../sass/variables';
@import '../../sass/animations';
@import '../../sass/mixins';

.section_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;

  @media screen and (max-width: 846px) {
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  @media screen and (max-width: 554px) {
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .info {
    max-width: 120rem;
    width: 100%;
    padding: 4.8rem 7.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4.8rem;
    border: 2px solid variables.$neon-dark-blue;
    border-radius: 3rem;
    margin: 0 3.6rem;

    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff,
      0 0 2rem variables.$neon-dark-blue, 0 0 0.8rem variables.$neon-dark-blue,
      0 0 2.8rem variables.$neon-dark-blue,
      inset 0 0 1.3rem variables.$neon-dark-blue;

    @media screen and (max-width: 846px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2.4rem 3.6rem;
    }

    @media screen and (max-width: 554px) {
      padding: 2.4rem 2.4rem;
    }

    &_img-container {
      border: 2px solid variables.$neon-light-blue;
      padding: 1.8rem;
      border-radius: 2rem;

      box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff,
        0 0 2rem variables.$neon-light-blue,
        0 0 0.8rem variables.$neon-light-blue,
        0 0 2.8rem variables.$neon-light-blue,
        inset 0 0 1.3rem variables.$neon-light-blue;
    }

    & .img {
      width: 25rem;
      height: 40rem;

      border-radius: 1.2rem;
    }

    &_content {
      max-width: 60rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 3.6rem;

      @media screen and (max-width: 846px) {
        max-width: 80rem;
      }

      @include flicker;
      h2 {
        font-size: variables.$h2-l;
        color: variables.$neon-red;
        letter-spacing: 0.6rem;
        font-weight: 400;

        animation: flicker 4s infinite alternate;

        @media screen and (max-width: 846px) {
          margin-top: -4rem;
        }

        @media screen and (max-width: 554px) {
          font-size: variables.$h2-m;
        }
      }

      p {
        font-size: variables.$text-l;
        color: variables.$grey-900;
        font-family: variables.$ff-lucida;
        letter-spacing: 0.2rem;
        line-height: 1.5;

        @media screen and (max-width: 846px) {
          text-align: center;
        }

        @media screen and (max-width: 554px) {
          font-size: variables.$text-m;
        }
      }
    }
  }

  .socials_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 554px) {
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  .social_link,
  .social_link:link,
  .social_link:visited {
    text-decoration: none;
    color: inherit;
    transition: all 0.1s;
  }

  .social_link:hover {
    @include yellowNeonEffect;
  }
}
