@mixin redNeonEffect {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.499), 0 0 7px variables.$neon-red,
    0 0 10px variables.$neon-red, 0 0 21px variables.$neon-red-shade,
    0 0 42px rgb(190, 16, 0), 0 0 82px rgb(173, 15, 1), 0 0 92px rgb(163, 14, 0),
    0 0 120px rgb(150, 13, 0), 0 0 150px rgba(150, 12, 0, 0.764);
}

@mixin yellowNeonEffect {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.573), 0 0 7px variables.$neon-yellow,
    0 0 10px variables.$neon-yellow, 0 0 21px variables.$neon-yellow-shade,
    0 0 42px rgb(204, 196, 46), 0 0 72px rgb(196, 189, 44),
    0 0 80px rgb(180, 173, 41), 0 0 100px rgb(164, 158, 39),
    0 0 110px rgba(148, 142, 35, 0.59);
}

@mixin darkBlueNeonEffect {
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.2),
    0 0 7px variables.$neon-dark-blue, 0 0 10px variables.$neon-dark-blue,
    0 0 21px variables.$neon-dark-blue, 0 0 42px rgb(24, 39, 103),
    0 0 72px rgb(21, 33, 88), 0 0 80px rgb(18, 28, 76),
    0 0 100px rgb(15, 25, 67), 0 0 110px rgba(30, 47, 127, 0.5);
}

@mixin lightBlueNeonTextEffetct {
  text-shadow: 0 0 13px variables.$neon-light-blue,
    0 0 23px variables.$neon-light-blue, 0 0 40px variables.$neon-light-blue,
    0 0 60px rgb(51, 220, 242), 0 0 80px rgb(42, 197, 218),
    0 0 100px rgba(37, 170, 188, 0.942), 0 0 120px rgba(37, 170, 188, 0.581);
}

@mixin redBoxShadow {
  box-shadow: 0 0 0.2rem variables.$neon-red-shade,
    0 0 0.2rem variables.$neon-red-shade, 0 0 2rem variables.$neon-dark-red,
    0 0 0.8rem variables.$neon-dark-red, 0 0 2.8rem variables.$neon-dark-red,
    inset 0 0 1.3rem variables.$neon-dark-red;
}

@mixin darkBlueBoxShadow {
  box-shadow: 0 0 0.2rem variables.$neon-light-blue,
    0 0 0.2rem variables.$neon-light-blue, 0 0 2rem variables.$neon-dark-blue,
    0 0 0.8rem variables.$neon-dark-blue, 0 0 2.8rem variables.$neon-dark-blue,
    inset 0 0 0.8rem variables.$neon-dark-blue;
}
