// Font sizes
$h1-l: 15.2em;
$h2-l: 10.2rem;
$h3-l: 6.75rem;
$h4-l: 4.5rem;
$h5-l: 3rem;
$text-l: 2rem;

// Font family
$ff-flott: Flott, 'Sans-seriff';
$ff-softBox: SoftBox, 'Sans-seriff';
$ff-newsGothic: News Gothic, 'Sans-seriff';

//Neon colors
$neon-yellow: rgb(247, 236, 54);
$neon-red: rgb(239, 57, 41);
$neon-dark-red: rgb(166, 30, 34);
$neon-dark-blue: rgb(30, 47, 127);
$neon-light-blue: rgb(37, 179, 198);

// Neon colors shades
$neon-red-shade: rgb(206, 18, 1);
$neon-yellow-shade: rgb(223, 214, 50);
