@use '../../sass/variables';
@import '../../sass/animations';

.section_wrapper {
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)),
    url('../../assets/images/brick-wall-2.jpg');
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 1);
}

.heading {
  @include flicker;
  max-width: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__primary {
    font-family: variables.$ff-softBox;
    font-size: variables.$h1-l;
    font-weight: 400;
    color: variables.$neon-red;
    letter-spacing: 2rem;
    animation: flicker 6s infinite alternate;

    @media screen and (max-width: 554px) {
      font-size: variables.$h1-m;
    }
  }

  &__secondary {
    font-family: variables.$ff-flott;
    font-size: variables.$h3-l;
    color: variables.$neon-yellow;
    font-weight: 400;
    letter-spacing: 1rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.573), 0 0 4px variables.$neon-yellow,
      0 0 7px variables.$neon-yellow, 0 0 21px variables.$neon-yellow-shade,
      0 0 42px rgb(204, 196, 46), 0 0 72px rgb(196, 189, 44),
      0 0 80px rgb(180, 173, 41), 0 0 100px rgb(164, 158, 39),
      0 0 110px rgba(148, 142, 35, 0.59), 0 -5px 150px rgba(150, 12, 0, 0.544);

    @media screen and (max-width: 554px) {
      font-size: variables.$h3-m;
    }
  }

  @include onAndOff;
  & span {
    animation: onAndOff 2.5s infinite alternate;
  }
}

.copy_text {
  font-size: variables.$text-l;
  color: variables.$neon-yellow;
  letter-spacing: 0.1rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
