.section_wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)),
    url('../assets/images/brick-wall-compressed.jpg');
  background-size: cover;
  height: 100vh;
  -webkit-box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 100px 200px rgba(0, 0, 0, 1);
}
