@use '../../sass/variables';
@import '../../sass/mixins';

.portfolio_wrapper {
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  max-width: 75vw;
  padding: 5rem 0;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: variables.$neon-dark-red;
  padding: 0 4rem;
  @include redNeonEffect;
}
